# lock
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# trash
**/.DS_Store
**/*.hbs

# dir
**/node_modules/**/*
**/public/**/*
**/dist/**/*
**/dist-ssr/**/*
**/build/**/*
**/coverage/**/*
**/bin/**/*
**/obj/**/*
**/out/**/*
**/.yarn/**/*
**/.next/**/*
**/.vercel/**/*
